body {
    background-color: gray;
}

.burg-box {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    height: 500px;
}

.not-eaten {
    text-align: center;
    float: left;
    width: 887px;
    background-color: yellow;
}

.eaten {
    text-align: center;
    float: right;
    width: 500px;
    background-color: rgb(54, 50, 50);
    color: gray;
}

.form {
    display: inline-block;
}